#remotecontrol-toolbar-button
{
  list-style-image: url("chrome://remotecontrol/skin/remoteControl.png");
  -moz-image-region: rect(0px 32px 24px 16px);
}
.active#remotecontrol-toolbar-button
{
  -moz-image-region: rect(0px 16px 24px 0px);
}
[iconsize="small"] #remotecontrol-toolbar-button
{
  -moz-image-region: rect(24px 32px 40px 16px);
}
[iconsize="small"] .active#remotecontrol-toolbar-button
{
  -moz-image-region: rect(24px 16px 40px 0px);
}
